<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
      <servlet-name>TestGenegicServlet</servlet-name>
      <servlet-class>com.raohui.TestGenegicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>TestGenegicServlet</servlet-name>
      <url-pattern>/TestGenegicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>TestServlet</servlet-name>
      <servlet-class>com.raohui.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>TestServlet</servlet-name>
      <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
 
  <!--使用@WebServlet标签代替-->
  <!--<servlet>-->
      <!--<servlet-name>TestHttpServlet</servlet-name>-->
      <!--<servlet-class>com.raohui.TestHttpServlet</servlet-class>-->
  <!--</servlet>-->
  <!--<servlet-mapping>-->
      <!--<servlet-name>TestHttpServlet</servlet-name>-->
      <!--<url-pattern>/TestHttpServlet</url-pattern>-->
  <!--</servlet-mapping>-->

  <filter>
      <filter-name>CharactorFilter</filter-name>
      <filter-class>com.raohui.CharactorFilter</filter-class>
      <init-param>
          <param-name>encode</param-name>
          <param-value>UTF-8</param-value>
      </init-param>
  </filter>
  <filter-mapping>
      <filter-name>CharactorFilter</filter-name>
      <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!--使用@WebFilter标签代替-->
  <!--<filter>-->
      <!--<filter-name>TestFilter</filter-name>-->
      <!--<filter-class>com.raohui.TestFilter</filter-class>-->
      <!--<init-param>-->
          <!--<param-name>count</param-name>-->
          <!--<param-value>5000</param-value>-->
      <!--</init-param>-->
  <!--</filter>-->

  <!--<filter-mapping>-->
      <!--<filter-name>TestFilter</filter-name>-->
      <!--<url-pattern>/index.jsp</url-pattern>-->
  <!--</filter-mapping>-->

  <!--使用@WebListener标签代替-->
  <!--<listener>-->
      <!--<listener-class>-->
          <!--com.raohui.TestServletContextListener-->
      <!--</listener-class>-->
  <!--</listener>-->
  <listener>
      <listener-class>
          com.raohui.TestHttpSessionListener
      </listener-class>
  </listener>
  <listener>
      <listener-class>
          com.raohui.TestServletRequestListener
      </listener-class>
  </listener>
  <listener>
      <listener-class>
          com.raohui.OnlineCountListener
      </listener-class>
  </listener>
</web-app>
